/* stylesheet for demo and examples */






#demo{ line-height: 20px; }



.content{
	overflow: auto;
	position: relative;
	padding: 20px;
	height: 445px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.content.hidden{ display: none; }

.content.light{
	background-color: #ddd;
	color: #333;
}
    
