//Font Weights
$regular: 400;
$bold: 700;


//Base Font
$base-font-family: 'PT Sans', sans-serif;



$remove-padding: 0;
$remove-margin: 0;
$remove-border: none;
//Base color
$base-color:#000000;
$blue-color : #2e3192;

$full-width:100%;

//media query
$extrasmall-mobile-width: 320px;
$phablet-width: 500px;
$tablet-width: 768px;
$smalldesktop-width: 991px;
$desktop-width: 1024px;
$large-desktop-width: 1123px;
$ex-large-desktop-width: 1260px;